Repository WordPress/wporg-main-2022, pull requests merged in 2022-10, with the labels that each got.

#103 Preload the the heading fonts.
  source/wp-content/themes/wporg-main-2022/functions.php
Labels: [Component] Theme, [Type] Enhancement

#135 Bypass the sandbox when running build:patterns
  env/export-content/includes/utils.php
Labels: [Type] Bug

#131 Add & sync download subpages
  env/page-manifest.json
  source/wp-content/mu-plugins/theme-switcher.php
  source/wp-content/themes/wporg-main-2022/functions.php
  source/wp-content/themes/wporg-main-2022/inc/shortcodes.php
  source/wp-content/themes/wporg-main-2022/patterns/download-beta-nightly.php
  source/wp-content/themes/wporg-main-2022/patterns/download-counter.php
  source/wp-content/themes/wporg-main-2022/patterns/download-releases.php
  source/wp-content/themes/wporg-main-2022/patterns/download-source.php
  source/wp-content/themes/wporg-main-2022/src/download-counter/block.json
  source/wp-content/themes/wporg-main-2022/src/download-counter/index.js
  source/wp-content/themes/wporg-main-2022/src/download-counter/index.php
  source/wp-content/themes/wporg-main-2022/src/download-counter/view.js
  source/wp-content/themes/wporg-main-2022/src/release-tables/block.json
  source/wp-content/themes/wporg-main-2022/src/release-tables/index.js
  source/wp-content/themes/wporg-main-2022/src/release-tables/index.php
  source/wp-content/themes/wporg-main-2022/src/release-tables/style.scss
  source/wp-content/themes/wporg-main-2022/src/release-tables/view.js
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
  source/wp-content/themes/wporg-main-2022/templates/page-beta-nightly.html
  source/wp-content/themes/wporg-main-2022/templates/page-counter.html
  source/wp-content/themes/wporg-main-2022/templates/page-releases.html
  source/wp-content/themes/wporg-main-2022/templates/page-source.html
  source/wp-content/themes/wporg-main-2022/theme.json
Labels: [Component] Theme
