Repository WordPress/wporg-main-2022, pull requests merged in 2023-11, with the labels that each got.

#348 Run build:patterns to sync Homepage, Download, About pages changes
  source/wp-content/themes/wporg-main-2022/patterns/about.php
  source/wp-content/themes/wporg-main-2022/patterns/download.php
  source/wp-content/themes/wporg-main-2022/patterns/home.php
Labels: [Component] Content

#345 Releases Archive: Link releases to microsites
  source/wp-content/themes/wporg-main-2022/src/release-tables/index.php
Labels: [Component] Theme, [Component] Content

#350 Add Anton font
  source/wp-content/themes/wporg-main-2022/theme.json
Labels: [Component] Theme

#351 Add Newsreader font
  source/wp-content/themes/wporg-main-2022/theme.json
Labels: [Component] Theme
