Repository WordPress/wporg-main-2022, pull requests merged in 2023-02, with the labels that each got.

#178 Fix export of content with list items
  composer.lock
  env/export-content/includes/parser.php
  env/export-content/includes/parsers/ListItem.php
Labels: [Component] Tools

#186 Try a filter to add Courier Prime
  source/wp-content/themes/wporg-main-2022/functions.php
Labels: [Component] Theme, [Component] Backend

#171 Add About landing page
  env/page-manifest.json
  source/wp-content/mu-plugins/theme-switcher.php
  source/wp-content/themes/wporg-main-2022/images/about-4-freedoms-underline.svg
  source/wp-content/themes/wporg-main-2022/images/about-cover-arrow.svg
  source/wp-content/themes/wporg-main-2022/images/about-cover-underline.svg
  source/wp-content/themes/wporg-main-2022/images/about-mission-swirl.svg
  source/wp-content/themes/wporg-main-2022/patterns/about.php
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
  source/wp-content/themes/wporg-main-2022/templates/page-about.html
Labels: [Component] Theme, [Component] Content

#176 Add About subpages
  env/page-manifest.json
  source/wp-content/mu-plugins/theme-switcher.php
  source/wp-content/themes/wporg-main-2022/patterns/features.php
  source/wp-content/themes/wporg-main-2022/patterns/history.php
  source/wp-content/themes/wporg-main-2022/patterns/requirements.php
  source/wp-content/themes/wporg-main-2022/patterns/roadmap.php
  source/wp-content/themes/wporg-main-2022/patterns/security.php
  source/wp-content/themes/wporg-main-2022/templates/page-features.html
  source/wp-content/themes/wporg-main-2022/templates/page-history.html
  source/wp-content/themes/wporg-main-2022/templates/page-requirements.html
  source/wp-content/themes/wporg-main-2022/templates/page-roadmap.html
  source/wp-content/themes/wporg-main-2022/templates/page-security.html
Labels: [Component] Theme, [Component] Content

#190 Update About sub pages
  source/wp-content/themes/wporg-main-2022/patterns/features.php
  source/wp-content/themes/wporg-main-2022/patterns/security.php
Labels: [Component] Content

#194 Fix permission check for superadmins
  source/wp-content/themes/wporg-main-2022/inc/capabilities.php
Labels: [Type] Bug

#192 Fix About page content and design issues
  source/wp-content/themes/wporg-main-2022/patterns/about.php
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
Labels: [Component] Theme, [Component] Content

#197 Add convenience scripts for running yarn workspace commands
  package.json
Labels: [Component] Tools

#200 Update About 'the technology' sub pages
  source/wp-content/themes/wporg-main-2022/patterns/history.php
  source/wp-content/themes/wporg-main-2022/patterns/roadmap.php
  source/wp-content/themes/wporg-main-2022/patterns/security.php
Labels: [Component] Content

#201 Align About page section headings with adjacent body copy
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
Labels: [Component] Theme

#193 Add remaining About sub pages
  env/page-manifest.json
  source/wp-content/mu-plugins/theme-switcher.php
  source/wp-content/themes/wporg-main-2022/functions.php
  source/wp-content/themes/wporg-main-2022/js/page-stats.js
  source/wp-content/themes/wporg-main-2022/patterns/accessibility.php
  source/wp-content/themes/wporg-main-2022/patterns/domains.php
  source/wp-content/themes/wporg-main-2022/patterns/etiquette.php
  source/wp-content/themes/wporg-main-2022/patterns/license.php
  source/wp-content/themes/wporg-main-2022/patterns/logos.php
  source/wp-content/themes/wporg-main-2022/patterns/philosophy.php
  source/wp-content/themes/wporg-main-2022/patterns/privacy.php
  source/wp-content/themes/wporg-main-2022/patterns/stats.php
  source/wp-content/themes/wporg-main-2022/patterns/swag.php
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
  source/wp-content/themes/wporg-main-2022/templates/page-accessibility.html
  source/wp-content/themes/wporg-main-2022/templates/page-domains.html
  source/wp-content/themes/wporg-main-2022/templates/page-etiquette.html
  source/wp-content/themes/wporg-main-2022/templates/page-license.html
  source/wp-content/themes/wporg-main-2022/templates/page-logos.html
  source/wp-content/themes/wporg-main-2022/templates/page-philosophy.html
  source/wp-content/themes/wporg-main-2022/templates/page-privacy.html
  source/wp-content/themes/wporg-main-2022/templates/page-stats.html
  source/wp-content/themes/wporg-main-2022/templates/page-swag.html
Labels: [Component] Theme, [Component] Content

#183 Update About pages to live URLs
  env/page-manifest.json
  source/wp-content/mu-plugins/theme-switcher.php
  source/wp-content/themes/wporg-main-2022/functions.php
  source/wp-content/themes/wporg-main-2022/patterns/about.php
  source/wp-content/themes/wporg-main-2022/patterns/accessibility.php
  source/wp-content/themes/wporg-main-2022/patterns/domains.php
  source/wp-content/themes/wporg-main-2022/patterns/etiquette.php
  source/wp-content/themes/wporg-main-2022/patterns/features.php
  source/wp-content/themes/wporg-main-2022/patterns/history.php
  source/wp-content/themes/wporg-main-2022/patterns/license.php
  source/wp-content/themes/wporg-main-2022/patterns/logos.php
  source/wp-content/themes/wporg-main-2022/patterns/philosophy.php
  source/wp-content/themes/wporg-main-2022/patterns/privacy.php
  source/wp-content/themes/wporg-main-2022/patterns/requirements.php
  source/wp-content/themes/wporg-main-2022/patterns/roadmap.php
  source/wp-content/themes/wporg-main-2022/patterns/security.php
  source/wp-content/themes/wporg-main-2022/patterns/stats.php
  source/wp-content/themes/wporg-main-2022/patterns/swag.php
  source/wp-content/themes/wporg-main-2022/templates/page-about.html
  source/wp-content/themes/wporg-main-2022/templates/page-accessibility.html
  source/wp-content/themes/wporg-main-2022/templates/page-domains.html
  source/wp-content/themes/wporg-main-2022/templates/page-etiquette.html
  source/wp-content/themes/wporg-main-2022/templates/page-features.html
  source/wp-content/themes/wporg-main-2022/templates/page-history.html
  source/wp-content/themes/wporg-main-2022/templates/page-license.html
  source/wp-content/themes/wporg-main-2022/templates/page-logos.html
  source/wp-content/themes/wporg-main-2022/templates/page-philosophy.html
  source/wp-content/themes/wporg-main-2022/templates/page-privacy.html
  source/wp-content/themes/wporg-main-2022/templates/page-requirements.html
  source/wp-content/themes/wporg-main-2022/templates/page-roadmap.html
  source/wp-content/themes/wporg-main-2022/templates/page-security.html
  source/wp-content/themes/wporg-main-2022/templates/page-stats.html
  source/wp-content/themes/wporg-main-2022/templates/page-swag.html
Labels: [Component] Tools

#207 Remove SOTW banner from homepage
  source/wp-content/themes/wporg-main-2022/patterns/home.php
Labels: [Component] Content

#210 Link directly from About page to Mercantile
  source/wp-content/themes/wporg-main-2022/patterns/about.php
Labels: [Component] Content
