Repository WordPress/wporg-main-2022, pull requests merged in 2023-01, with the labels that each got.

#159 Try new design for search results page
  source/wp-content/mu-plugins/theme-switcher.php
  source/wp-content/themes/wporg-main-2022/functions.php
  source/wp-content/themes/wporg-main-2022/src/google-search-embed/block.json
  source/wp-content/themes/wporg-main-2022/src/google-search-embed/index.js
  source/wp-content/themes/wporg-main-2022/src/google-search-embed/index.php
  source/wp-content/themes/wporg-main-2022/src/google-search-embed/style.scss
  source/wp-content/themes/wporg-main-2022/src/google-search-embed/view.js
  source/wp-content/themes/wporg-main-2022/templates/page-search.html
Labels: [Component] Blocks, [Component] Theme

#166 Fix RTL layout for Enterprise
  source/wp-content/themes/wporg-main-2022/patterns/enterprise.php
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
Labels: [Component] Theme

#169 Design and content tweaks before launch
  composer.lock
  source/wp-content/themes/wporg-main-2022/patterns/enterprise.php
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
Labels: [Component] Theme, [Component] Content

#175 Fix layout of Enterprise logos when number of logos is even
  source/wp-content/themes/wporg-main-2022/patterns/enterprise.php
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
Labels: [Component] Theme, [Component] Content
