Repository WordPress/wporg-main-2022, pull requests merged in 2023-04, with the labels that each got.

#247 Content Parsers: Update parsers, fix list-item parsing, fix broken manifest
  .github/workflows/phpunit.yml
  .gitignore
  .wp-env.json
  composer.json
  composer.lock
  env/export-content/includes/parser.php
  env/export-content/includes/parsers/AttributeParser.php
  env/export-content/includes/parsers/BasicText.php
  env/export-content/includes/parsers/Button.php
  env/export-content/includes/parsers/HTMLParser.php
  env/export-content/includes/parsers/Heading.php
  env/export-content/includes/parsers/ListItem.php
  env/export-content/includes/parsers/Paragraph.php
  env/export-content/includes/parsers/ShortcodeBlock.php
  env/export-content/includes/utils.php
  env/export-content/tests/block-parser-test.php
  env/page-manifest.json
  package.json
  source/wp-content/tests/phpunit/bootstrap.php
  source/wp-content/tests/phpunit/phpunit.xml
  source/wp-content/themes/wporg-main-2022/patterns/download-source.php
  source/wp-content/themes/wporg-main-2022/patterns/download.php
  source/wp-content/themes/wporg-main-2022/patterns/features.php
  source/wp-content/themes/wporg-main-2022/patterns/history.php
  source/wp-content/themes/wporg-main-2022/patterns/home.php
  source/wp-content/themes/wporg-main-2022/patterns/swag.php
  source/wp-content/themes/wporg-main-2022/templates/page-swag.html
Labels: [Component] Tools

#248 Search: Update search page styles
  source/wp-content/themes/wporg-main-2022/patterns/search.php
  source/wp-content/themes/wporg-main-2022/src/google-search-embed/style.scss
Labels: [Component] Theme

#250 Download page: Update download button styles on small screens
  source/wp-content/themes/wporg-main-2022/src/style/style.scss
Labels: [Component] Theme

#251 Adjust heading sizes and margin
  source/wp-content/themes/wporg-main-2022/patterns/accessibility.php
  source/wp-content/themes/wporg-main-2022/patterns/domains.php
  source/wp-content/themes/wporg-main-2022/patterns/etiquette.php
  source/wp-content/themes/wporg-main-2022/patterns/features.php
  source/wp-content/themes/wporg-main-2022/patterns/history.php
  source/wp-content/themes/wporg-main-2022/patterns/license.php
  source/wp-content/themes/wporg-main-2022/patterns/logos.php
  source/wp-content/themes/wporg-main-2022/patterns/philosophy.php
  source/wp-content/themes/wporg-main-2022/patterns/privacy.php
  source/wp-content/themes/wporg-main-2022/patterns/requirements.php
  source/wp-content/themes/wporg-main-2022/patterns/roadmap.php
  source/wp-content/themes/wporg-main-2022/patterns/security.php
  source/wp-content/themes/wporg-main-2022/patterns/stats.php
Labels: [Type] Enhancement, [Component] Content

#252 Remove links to media from About / Logos images
  source/wp-content/themes/wporg-main-2022/patterns/logos.php
Labels: [Component] Content
