Repository WordPress/wporg-main-2022, pull requests merged in 2023-08, with the labels that each got.

#291 Parser: Enable translating link destinations
  env/export-content/includes/parser.php
  env/export-content/includes/parsers/Button.php
  env/export-content/includes/parsers/HTMLParser.php
  env/export-content/includes/parsers/ListItem.php
  env/export-content/tests/block-parser-test.php
  source/wp-content/themes/wporg-main-2022/patterns/about-roadmap.php
  source/wp-content/themes/wporg-main-2022/patterns/download-beta-nightly.php
  source/wp-content/themes/wporg-main-2022/patterns/download.php
  source/wp-content/themes/wporg-main-2022/patterns/enterprise.php
  source/wp-content/themes/wporg-main-2022/patterns/home.php
Labels: [Component] Tools, i18n

#297 Update Remembers content
  source/wp-content/themes/wporg-main-2022/patterns/remembers.php
Labels: [Component] Content

#301 Update 6.3 about page content
  source/wp-content/themes/wporg-main-2022/patterns/about-history.php
  source/wp-content/themes/wporg-main-2022/patterns/about-roadmap.php
  source/wp-content/themes/wporg-main-2022/patterns/download-releases-6-3.php
Labels: [Component] Content

#303 Update About 6.3 header layout to fix text overlapping video
  source/wp-content/themes/wporg-main-2022/patterns/download-releases-6-3.php
Labels: [Type] Bug, [Component] Content

#299 Add Dan Beil to Remembers page
  source/wp-content/themes/wporg-main-2022/patterns/remembers.php
Labels: [Component] Content

#307 Page Meta: Allow Jetpack to grab the featured image if one exists
  source/wp-content/themes/wporg-main-2022/functions.php
  source/wp-content/themes/wporg-main-2022/inc/page-meta-descriptions.php
Labels: [Component] Backend

#313 Theme Switcher: Default to using the redesigned theme for pages
  source/wp-content/mu-plugins/theme-switcher.php
Labels: [Component] Backend
