Repository WordPress/wporg-main-2022, pull requests merged in 2024-06, with the labels that each got.

#448 Add Swag page template and pattern
  env/page-manifest.json
  source/wp-content/themes/wporg-main-2022/patterns/about-swag.php
  source/wp-content/themes/wporg-main-2022/templates/page-swag.html
Labels: [Component] Content

#450 Filter page titles to enable translations
  .github/workflows/i18n.yml
  extra/translation-strings.php
  source/wp-content/themes/wporg-main-2022/functions.php
Labels: i18n, [Component] Backend

#455 Rosetta styles: Use Noto Serif JP for headings
  source/wp-content/themes/wporg-main-2022/functions.php
  source/wp-content/themes/wporg-main-2022/src/rosetta/style.scss
Labels: i18n
